.row{
  width: 100%;
  height: 37px;
  color: white;
  display: flex;
  align-items: center;
  }
  /*
  .active::after {
    content: '|';
    background-color: #5773FF;
    width: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
color: transparent;
position: relative;
  }
*/
  
    .active{
      color: #5773FF;
      border-right:4px solid #5773FF ;
    }
  #body{
background: linear-gradient(0deg, #18181D, #010101 95%);
flex-wrap: wrap;
justify-content: center;
align-items: center;
  }